<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mermaid/8.0.0/mermaid.min.js"></script>
    <script src="//cdn.bootcss.com/raphael/2.2.0/raphael-min.js"></script>
    <script src="//cdn.bootcss.com/flowchart/1.6.3/flowchart.js"></script>

    <script>
    	function flow(name,f)
    	{
                        var chart = flowchart.parse(f);
                        chart.drawSVG(name,
                          {
                                'x': 0,
                                'y': 0,
                                'line-width': 3,
                                'line-length': 50,
                                'text-margin': 10,
                                'font-size': 14,
                                'font-color': 'black',
                                'line-color': 'black',
                                'element-color': 'black',
                                'fill': 'white',
                                'yes-text': 'yes',
                                'no-text': 'no',
                                'arrow-end': 'block',
                                'scale': 1,
                                // style symbol types
                                'symbols': {
                                  'start': {
                                    'font-color': 'red',
                                    'element-color': 'green',
                                    'fill': 'yellow'
                                  },
                                  'end':{
                                    'class': 'end-element'
                                  }
                                },
                                // even flowstate support ;-)
                                'flowstate' : {
                                  'past' : { 'fill' : '#CCCCCC', 'font-size' : 12},
                                  'current' : {'fill' : 'yellow', 'font-color' : 'red', 'font-weight' : 'bold'},
                                  'future' : { 'fill' : '#FFFF99'},
                                  'request' : { 'fill' : 'blue'},
                                  'invalid': {'fill' : '#444444'},
                                  'approved' : { 'fill' : '#58C4A3', 'font-size' : 12, 'yes-text' : 'APPROVED', 'no-text' : 'n/a' },
                                  'rejected' : { 'fill' : '#C45879', 'font-size' : 12, 'yes-text' : 'n/a', 'no-text' : 'REJECTED' }
                                }
                              });
    	}
    	window.onload = function ()
    	{
    		var cd = document.getElementsByClassName("flow");
    		for (var i = 0; i < cd.length; i++)
    		{
    			var t = cd[i].getElementsByClassName("flowcode")[0].value;
    			var canvas = "canvas" + i;
    			cd[i].innerHTML = "<div id=\"" + canvas + "\"></div>"
    			flow(canvas, t);
    		}
    	}
    </script>
    {% if site.google_analytics %}
      <script async src="https://www.googletagmanager.com/gtag/js?id={{ site.google_analytics }}"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', '{{ site.google_analytics }}');
      </script>
    {% endif %}
    <meta charset="UTF-8">

{% seo %}
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preload" href="https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap" as="style" type="text/css" crossorigin>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <!-- <style>
      #content br {display: none;}
      #content p br {display: inline;}
    </style> -->
  </head>
  <body>

    <header class="page-header" role="banner">
      <h1 class="project-name">{{ page.title }}</h1>
      <h2 class="project-tagline">{{ page.description }}</h2>
      {% if site.github.is_project_page %}
        <a href="{{ site.github.repository_url }}" class="btn">View on GitHub</a>
      {% endif %}
      {% if site.show_downloads %}
        <a href="{{ site.github.zip_url }}" class="btn">Download .zip</a>
        <a href="{{ site.github.tar_url }}" class="btn">Download .tar.gz</a>
      {% endif %}
    </header>

    <main id="content" class="main-content" role="main">
      <script type="text/x-mathjax-config">
        MathJax.Hub.Config({
            extensions: ["tex2jax.js"],
            jax: ["input/TeX", "output/HTML-CSS"],
            tex2jax: {
                inlineMath: [ ['$','$'], ["\\(","\\)"] ],
                displayMath: [ ['$$','$$'], ["\\[","\\]"] ],
                processEscapes: true
            },
        "HTML-CSS": { availableFonts: ["TeX"] }
      });
      </script>
      <script type="text/javascript"
          src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
      </script>

      {{ content }}

      <div id="reviews"></div>
      <link rel="stylesheet" href="https://imsun.github.io/gitment/style/default.css">
      <script src="https://wangzetao.github.io/gitment.browser.js"></script>
      <script>
      var gitment = new Gitment({
      id: '{{ page.date }}',
      owner: 'wangzetao',
      repo: 'wangzetao.github.io',
      oauth: {
          client_id: 'bf0c823fd042cfbf9eb3',
          client_secret: 'b029912f7dff32f058d0df40ffa44a69bf17c2c3',
      },
      })
      gitment.render('reviews')
      </script>

      <footer class="site-footer">
        {% if site.github.is_project_page %}
          <span class="site-footer-owner"><a href="{{ site.github.repository_url }}">{{ site.github.repository_name }}</a> is maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a>.</span>
        {% endif %}
        <span class="site-footer-credits">This page was generated by <a href="https://pages.github.com">GitHub Pages</a>.</span>
      </footer>
    </main>
  </body>
  <script>
    var config = {
      startOnLoad:true,
      theme: 'forest',
      flowchart:{
              useMaxWidth:false,
              htmlLabels:true
            }
    };
    mermaid.initialize(config);
    window.mermaid.init(undefined, document.querySelectorAll('.language-mermaid'));
    </script>
</html>
